<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CompBuilder</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

  </head>



<body>

<h1><%= @company.name %></h1>
<br>
<br>
<h3>Company Description</h3>
  <p><%= @company.description %></p>  
<br>
<br>
<h3>Valuation Metrics</h3>
  <table>
    <tr>
      <td>Shares Outstanding</td>
      <td><%= "1000" %></td>
    </tr>
    <tr>
      <td>Current Share Price</td>
      <td><%= "1000" %></td>
    </tr>
    <tr>
      <td>Total Market Cap</td>
      <td><%= "$1000" %></td>
    </tr>

    <tr>
      <td>Total Cash</td>
      <td><%= "1000" %></td>
    </tr>
    <tr>
      <td>Total Debt</td>
      <td><%= "1000" %></td>
    </tr>
    <tr>
      <td>Enterprise Value</td>
      <td><%= "$1000" %></td>
    </tr>



  </table>
<br>
<br>
<h3>Summary Financials</h3>

<table class="table">

  <thead>
    <tr>
      <th>METRIC</th>
      <th>CURRENT PERIOD</th>     
      <th>PRIOR PERIOD</th>
      <th>LAST FY</th>
      <th>LTM</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Sales Revenue Goods Net</td>
      <td><%= goods_sales_current_period = @company_is.rows[0].vals[0].to_i.to_nearest_million %></td>
      <td><%= goods_sales_prior_period = @company_prior_period_is.rows[1].vals[0].to_i.to_nearest_million %></td>
      <td><%= goods_sales_last_fy = @company_fy_is.rows[2].vals[0].to_i.to_nearest_million %></td>
      <td><%= ltm_goods_sales = goods_sales_current_period + goods_sales_last_fy - goods_sales_prior_period %></td>
    </tr>

    <tr>
      <td>Sales Revenue Services Net</td>
      <td><%= services_sales_current_period = @company_is.rows[1].vals[0].to_i.to_nearest_million %></td>
      <td><%= services_sales_prior_period = @company_prior_period_is.rows[6].vals[0].to_i.to_nearest_million %></td>
      <td><%= services_sales_last_fy = @company_fy_is.rows[3].vals[0].to_i.to_nearest_million %></td>
      <td><%= ltm_services_sales = services_sales_current_period + services_sales_last_fy - services_sales_prior_period %></td>
    </tr>

    <tr>
      <td>Total Revenue</td>
      <td><%= total_sales_current_period = goods_sales_current_period + services_sales_current_period%></td>
      <td><%= total_sales_prior_period = goods_sales_prior_period + services_sales_prior_period  %></td>
      <td><%= total_sales_last_fy = goods_sales_last_fy + services_sales_last_fy %></td>
      <td><%= ltm_total_revenue = ltm_goods_sales + ltm_services_sales %></td>
    </tr>

    <tr>
      <td>Cost of Goods Sold</td>
      <td><%= cost_of_goods_current_period = @company_is.rows[2].vals[0].to_i.to_nearest_million %></td>
      <td><%= cost_of_goods_prior_period = @company_prior_period_is.rows[9].vals[0].to_i.to_nearest_million %></td>
      <td><%= cost_of_goods_last_fy = @company_fy_is.rows[6].vals[0].to_i.to_nearest_million %></td>
      <td><%= ltm_cost_of_goods = cost_of_goods_current_period + cost_of_goods_last_fy - cost_of_goods_prior_period %></td>
    </tr>

    <tr>
      <td>Cost of Services</td>
      <td><%= cost_of_services_current_period = @company_is.rows[3].vals[0].to_i.to_nearest_million %></td>
      <td><%= cost_of_services_prior_period = @company_prior_period_is.rows[13].vals[0].to_i.to_nearest_million %></td>
      <td><%= cost_of_services_last_fy = @company_fy_is.rows[10].vals[0].to_i.to_nearest_million %></td>
      <td><%= ltm_cost_of_services = cost_of_services_current_period + cost_of_services_last_fy - cost_of_services_prior_period %></td>
    </tr>

    <tr>
      <td>Total COGS</td>
      <td><%= total_cogs_current_period = cost_of_goods_current_period + cost_of_services_current_period %></td>
      <td><%= total_cogs_prior_period = cost_of_goods_prior_period + cost_of_services_prior_period %></td>
      <td><%= total_cogs_last_fy = cost_of_goods_last_fy + cost_of_services_last_fy %></td>
      <td><%= ltm_total_cogs = total_cogs_current_period + total_cogs_last_fy - total_cogs_prior_period %></td>
    </tr>

    <tr>
      <td>Gross Profit</td>
      <td><%= gross_profit_current_period = total_sales_current_period - total_cogs_current_period %></td>
      <td><%= gross_profit_prior_period = total_sales_prior_period - total_cogs_prior_period %></td>
      <td><%= gross_profit_last_fy = total_sales_last_fy - total_cogs_last_fy %></td>
      <td><%= ltm_gross_profit = ltm_total_revenue - ltm_total_cogs %></td>
    </tr>

    <tr>
      <td>Gross Margin</td>
      <td><%= gross_margin_current_period = (gross_profit_current_period/total_sales_current_period)*100 %></td>
      <td><%= gross_margin_prior_period = (gross_profit_prior_period/total_sales_prior_period)*100 %></td>
      <td><%= gross_margin_last_fy = (gross_profit_last_fy/total_sales_last_fy)*100 %></td>
      <td><%= ltm_gross_margin = (ltm_gross_profit/ltm_total_revenue)*100 %></td>
    </tr>

</tbody>
    

</table>


<br>
<br>
<br>


<h3> Pick a company to compare against: </h3>
	
      
      
        
        
        
  

  <% @companies.each do |company_to_compare| %>
  <ul>

    <a href="#"><%= link_to company_to_compare.name, company_comparison_path(@company, company_to_compare) %></a>
  
  </ul>        
	<% end %>






<%= link_to "Back", "/companies" %>

</body>
</html>